<ng-container *ngIf="authService.user | async as user">
  <ion-item
    button
    *ngIf="user.playerId"
    (click)="playersService.openProfile(user.uid)"
    lines="none"
  >
    <ion-label>
      <p>Welcome back,</p>
      <h1>{{ user.name }}</h1>
    </ion-label>
    <ion-thumbnail>
      <img [src]="user.image" alt="user avatar" />
    </ion-thumbnail>
  </ion-item>

  <ion-item
    button
    *ngIf="!user.playerId"
    (click)="playersService.openProfile(user.uid)"
    lines="none"
    class="add-profile"
  >
    <ion-label>
      <p>Welcome to Dotalite, {{ user.name.split(' ')[0].toString() }}</p>
      <h2>Click here to link<br />your player profile</h2>
    </ion-label>
    <ion-thumbnail>
      <img src="../../../assets/tap.png" alt="user avatar" />
    </ion-thumbnail>
  </ion-item>
</ng-container>
