<ng-container *ngIf="authService.user | async as user">
  <ng-container *ngIf="user.playerId; else link">
    <ng-container *ngIf="player; else loading">
      <ion-item
        button
        (click)="openProfile(player.profile.account_id)"
        lines="none"
      >
        <ion-label>
          <p>Welcome back,</p>
          <h1>{{ player.profile.personaname }}</h1>
        </ion-label>
        <ion-thumbnail>
          <img [src]="player.profile.avatarfull" alt="user avatar" />
        </ion-thumbnail>
      </ion-item>
    </ng-container>

    <ng-template #loading>
      <div class="custom-skeleton">
        <ion-item lines="none">
          <ion-label>
            <ion-skeleton-text animated style="width: 65%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-label>
          <ion-thumbnail>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
        </ion-item>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #link>
    <ion-item
      button
      *ngIf="!user.playerId"
      (click)="openSearch()"
      lines="none"
      class="add-profile"
    >
      <ion-label>
        <p>Welcome, {{ user.name.split(' ')[0].toString() }}</p>
        <h2>Click here to add<br />your player profile</h2>
      </ion-label>
      <ion-thumbnail>
        <img src="../../../assets/tap.png" alt="user avatar" />
      </ion-thumbnail>
    </ion-item>
  </ng-template>
</ng-container>
