.spinner {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
  height: 100vh;

  ion-spinner {
    --color: var(--ion-color-dark);
    transform: scale(2);
  }
}

ion-content {
  --background: transparent;
}
ion-toolbar {
  --background: transparent;
}
