<ng-container *ngIf="player$ | async as player; else loading">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-button>
        <ion-icon color="dark" slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite(player)">
        <ion-icon
          color="dark"
          slot="icon-only"
          [name]="isFavorited ? 'heart' : 'heart-outline'"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          color="dark"
          slot="icon-only"
          name="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <app-player-info
    [player]="player"
    [selected]="selectedTab"
    (changeTab)="handleTabChanged($event)"
  ></app-player-info>

  <ion-content class="ion-padding">
    <app-player-content
      [player]="player"
      [selected]="selectedTab"
    ></app-player-content>
  </ion-content>
</ng-container>

<ng-template #loading>
  <div class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ng-template>
