<ion-toolbar>
  <ion-buttons slot="start" (click)="dismiss()">
    <ion-button>
      <ion-icon color="dark" slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon color="dark" slot="icon-only" name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon
        color="dark"
        slot="icon-only"
        name="ellipsis-vertical"
      ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<app-profile-info [data]="player"></app-profile-info>

<ion-content class="ion-padding"> </ion-content>
