<ion-segment
  [(ngModel)]="selectedTab"
  (ionChange)="segmentChanged($event)"
  mode="md"
  scrollable
>
  <ion-segment-button value="featured">
    <ion-label>Featured</ion-label>
  </ion-segment-button>
  <ion-segment-button *ngIf="user" value="favorites">
    <ion-label>Favorites</ion-label>
  </ion-segment-button>
  <ion-segment-button value="news">
    <ion-label>News</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-list *ngIf="selectedTab == 'featured'" lines="none">
  <app-trending></app-trending>
</ion-list>

<ion-list *ngIf="selectedTab == 'favorites'" lines="none">
  <ion-item
    button
    *ngFor="let favorite of user.favorites"
    (click)="openFavorite(favorite)"
  >
    <ion-thumbnail slot="start">
      <img [src]="favorite.image" />
    </ion-thumbnail>
    <ion-label>
      <h3>{{ favorite.title }}</h3>
      <p>{{ favorite.type }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="selectedTab == 'news'" lines="none">
  <ion-item button *ngFor="let favorite of mockFavorites">
    <ion-label>
      <h3>Heloust</h3>
      <p>news works</p>
    </ion-label>
  </ion-item>
</ion-list>
