<ion-segment
  [(ngModel)]="selectedTab"
  (ionChange)="segmentChanged($event)"
  mode="md"
  scrollable
>
  <ion-segment-button value="featured">
    <ion-label>Featured</ion-label>
  </ion-segment-button>
  <ion-segment-button value="favorites">
    <ion-label>Favorites</ion-label>
  </ion-segment-button>
</ion-segment>

<app-shortcut-trending *ngIf="isSelected('featured')"></app-shortcut-trending>

<app-shortcut-favorites
  [user]="user"
  *ngIf="isSelected('favorites')"
></app-shortcut-favorites>
