<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-item size="6" lines="none">
        <ion-thumbnail slot="start">
          <img [src]="player.profile.avatarfull"  alt=""/>
        </ion-thumbnail>
        <ion-label>
          <h1>{{ player.profile.personaname }}</h1>
          <p>{{ currentTab }}</p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-thumbnail
          style="
            margin-left: auto;
            margin-right: 5px;
            width: 65px;
            height: 65px;
          "
        >
          <img
            src="https://riki.dotabuff.com/c/e04a0e9d861e7eb382ee3fff930cb7fa881ec174/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f646f7461627566662f70616e6f72616d612f6d61737465722f70616e6f72616d612f696d616765732f72616e6b5f746965725f69636f6e732f72616e6b38625f7073642e706e67"
           alt=""/>
        </ion-thumbnail>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="records">
    <ion-col>
      <ion-item class="profile-record" lines="none">
        <ion-label>
          <h3>WINS</h3>
          <h1 class="wins">{{ player.wins }}</h1>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="profile-record" lines="none">
        <ion-label>
          <h3>LOSSES</h3>
          <h1 class="losses">{{ player.losses }}</h1>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item class="profile-record" lines="none">
        <ion-label>
          <h3>WINRATE</h3>
          <h1 class="winrate">
            {{ calculateWinrate(player.wins, player.losses) }}
          </h1>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
