ion-img {
  margin: 15px;
}

.spinner {
  //   background: var(--ion-color-light);
  display: flex;
  justify-content: center;
  padding: 50px;

  ion-spinner {
    --color: var(--ion-color-dark);
    transform: scale(2);
    // margin-top: 30vh;
  }
}
