<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch();">
        <ion-icon name="search" color="dark"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleNotifications($event)">
        <ion-icon name="notifications" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- welcome component -->
<ion-content>
  <app-welcome
    [user]="user$ | async"
    [player]="userPlayerData$ | async"
    [isLinked]="isLinked"
  ></app-welcome>

  <!-- shortcut component -->
  <app-shortcut [user]="user$ | async"></app-shortcut>

  <div class="rest"></div>
</ion-content>
