.shortcut-wrapper {
  background-color: var(--ion-color-light);
  border-radius: 20px 20px 0 0;
}

ion-content {
  --background: transparent;

  ion-item {
    --background: var(--ion-color-light-shade);
  }
}

.dashboard-section {
  background: var(--ion-color-light);

  ion-card {
    background: linear-gradient(rgba(28, 25, 36, 0.1), #16161d 80%),
      url('https://steamcdn-a.akamaihd.net/apps/underlords/images/dota-bp10-share-img.png');
    background-size: cover;
    min-height: 200px;

    ion-card-header {
      position: absolute;
      bottom: 0px;

      ion-card-subtitle {
        margin: 0;
      }
    }
  }
}

.bottom-wrapper {
  background-color: var(--ion-color-light);
  height: 30vh;
}

ion-header ion-button {
  font-size: 17px;
  margin: 0;
  height: 40px;
  width: 40px;
  --border-radius: 100%;
}

ion-menu-button {
  font-size: 28px;
}

ion-toolbar {
  --background: transparent;
}

.login-button {
  --background: var(--ion-color-light);
  --border-radius: 10px;
}
