<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- trending component -->
  <app-trending></app-trending>


  <!-- shortcut component -->
  <div class="shortcut-wrapper">
    <app-shortcut></app-shortcut>
  </div>


  <!-- searching component -->
  <!-- <ion-searchbar></ion-searchbar> -->





</ion-content>