ion-searchbar {
  margin: 10px 0px;
  --border-radius: 10px;
}

ion-item {
  --background: var(--ion-color-light-shade);
  border-bottom: 1px solid var(--ion-color-primary);
}

ion-icon {
  font-size: 32px;
  margin: 5px;
}
