<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon button color="dark" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item class="searchbar-item" lines="none">
  <ion-label position="stacked" class="ion-padding-horizontal">
    {{ getHeaderText() }}
  </ion-label>
  <ion-searchbar
    debounce="1000"
    (ionInput)="handleInput($event)"
    (ionChange)="handleSearch($event)"
    [placeholder]="placeholderText"
  ></ion-searchbar>
</ion-item>

<div class="ion-padding-horizontal chip-wrapper" *ngIf="!isLinkComponent">
  <ion-chip
    *ngFor="let element of filters"
    [class.active]="element.title === selectedFilter"
    (click)="changeFilter($event)"
  >
    <ion-icon [name]="element.icon"></ion-icon>
    <ion-label>{{ element.title }}</ion-label>
  </ion-chip>
</div>

<ion-content class="ion-padding-horizontal">
  <app-search-results
    *ngIf="searchService.searchResults | async as results; else loading"
    [results]="results"
    [selected]="selectedFilter"
    [isLinkComponent]="isLinkComponent"
    (linkEvent)="handleLinkEvent($event)"
    (openProfileEvent)="handleOpenProfileEvent($event)"
  >
  </app-search-results>

  <ng-template #loading>
    <div class="spinner" *ngIf="searchInProgress">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
