ion-searchbar {
  margin: 25px 0 5px 0;
  --border-radius: 10px;
}

//ion-list-header {
//  font-size: 24px;
//}

.search-result-item {
  --background: var(--ion-color-light-shade);
  --border-radius:5px;
  margin-bottom: 5px;

  ion-thumbnail {
    --border-radius: 5px;
  }
}

.search-result-header {
  font-size: 20px;
  --color: #dedede;
  font-weight: 500;
  --detail-icon-font-size: 24px;
  --detail-icon-color: #dedede;
  --detail-icon-opacity: 100;
}

.searchbar-item {
  ion-label {
    font-size: 40px;
    --color: #dedede;
    font-weight: 500;
  }
}

ion-content {
  --background: transparent;
}
