<ion-header mode="ios" translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon button color="dark" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item class="searchbar-item" lines="none">
  <ion-label position="stacked" class="ion-padding-horizontal">
    Search
  </ion-label>
  <ion-searchbar
    debounce="1000"
    (ionInput)="handleInput($event)"
    (ionChange)="handleSearch($event)"
    placeholder="Type to start searching"
  ></ion-searchbar>
</ion-item>

<ion-content class="ion-padding-horizontal">
  <ng-container *ngIf="search.searchResults | async as results; else loading">
    <ion-list *ngIf="search.players && search.players.length">
      <ion-item class="search-result-header" lines="none">
        <ion-label>Players</ion-label>
      </ion-item>
      <ion-item
        class="search-result-item"
        lines="none"
        *ngFor="let player of search.players"
      >
        <ion-label
          ><h3>{{ player.name }}</h3>
          <p>Last online #</p></ion-label
        >
        <ion-thumbnail slot="start">
          <img [src]="avatarPrefix + player.avatar" />
        </ion-thumbnail>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="search.teams && search.teams.length">
      <ion-item class="search-result-header" lines="none">
        <ion-label>Teams</ion-label>
      </ion-item>
      <ion-item
              class="search-result-item"
              lines="none"
              *ngFor="let team of search.teams"
      >
        <ion-label
        ><h3>{{ team.name }}</h3>
          <p>Last online #</p></ion-label
        >
        <ion-thumbnail slot="start">
          <img [src]="team.logo" />
        </ion-thumbnail>
      </ion-item>
    </ion-list>

  </ng-container>

  <ng-template #loading>
    <div class="spinner" *ngIf="searchInProgress">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</ion-content>
