<ion-segment
        color="primary"
        mode="md"
        scrollable
        (ionChange)="segmentChanged($event)"
        [(ngModel)]="currentTab"
>
  <ion-segment-button value="Overview">
    <ion-label>Overview</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Matches">
    <ion-label>Matches</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Heroes">
    <ion-label>Heroes</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Items">
    <ion-label>Items</ion-label>
  </ion-segment-button>
</ion-segment>


<div class="ion-padding">
  <app-player-overview [player]="player" *ngIf="currentTab === 'Overview'"></app-player-overview>
  <app-player-matches [player]="player" *ngIf="currentTab === 'Matches'"></app-player-matches>
  <app-player-heroes [player]="player" *ngIf="currentTab === 'Heroes'"></app-player-heroes>
</div>

